*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Neuton:wght@300&family=Oleo+Script:wght@400;700&family=Playball&family=Quicksand&family=Roboto:wght@100&family=Work+Sans&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');

* {
  font-family: 'Quicksand', sans-serif;
}

.myCard {
  width: 30rem;
  height: 22rem;

  margin-top: 3rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
  border-radius: 10px;

}

.myCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchInput {
  width: 30rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
  border: none;
  padding: .4rem;
  border-radius: 5px;
}

::placeholder {
  font-size: .9rem;

}

.weatherIcon {
  display: flex;
  justify-content: center;
}

.sun {
  font-size: 4rem;
  margin-top: 2rem;
}

.leftside {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.rightside {
  color: white;
  background-color: rgb(34, 161, 102);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tempDetails {
  margin-top: 3rem;
}

p {
  margin: 0;
  padding: 0;
}

.otherTemp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.typeWeather {
  display: flex;
  align-items: center;
}

.sunsetDetails {
  margin-left: 1rem;
}

@media(max-width: 600px) {
  .searchInput {
    width: 20rem;
    
  }
  .myCard {
    width: 25rem;
  }  
}


@media(max-width: 400px) {
  .searchInput {
    width: 20rem;
    
  }

  .sunsetDetails {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .myCard {
    width: 20rem;
  }  
}



.sunsetDetails p {
  font-size: .8rem;
  margin: 0;
  padding: 0;
}